<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
     <!-- new from .net 2.0 -->
     <connectionStrings>
        <add  name="TestConStr"   connectionString ="Server=prcsgi10421d;Database=BA;Uid=sa;Pwd=Infosys123;Connect Timeout=50" />
    
        <add  name="BAConStr"   connectionString ="Server=cnpek0133d;Database=BA;Uid=wbofuser;Pwd=Wbgsnwbd1!;Connect Timeout=50" />
    
        <add  name="OSMQConStr"   connectionString ="Server=cnpek01808;Database=OSMQ;Uid=wbofuser;Pwd=Wbgsnwbd1!;Connect Timeout=50" />
    </connectionStrings>
  

    <!-- old version -->
     <appSettings> 
    <add key="TestConStr" value="server=prcsgi10421d;uid=sa;pwd=Infosys123;database=BA;Connect Timeout=50"/> 
    <add key="BAConStr" value="server=cnpek0133d;uid=wbofuser;pwd=Wbgsnwbd1!;database=BA;Connect Timeout=50"/>    
    <add key="OSMQConStr" value="server=cnpek01808;uid=wbofuser;pwd=Wbgsnwbd1!;database=OSMQ;Connect Timeout=50"/> 
    </appSettings>
  
    <!--<appSettings> 
    
    </appSettings>
  
    <appSettings> 
    
    </appSettings>-->
  

  
    
  
  
   

    
</configuration>